<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>Shoes Store</title>
</head>
    <body>
        <header>
            <nav>
                <div class="nav-logo">
                    <img src="../public/img/shoes-logo-2 1.svg" alt="">
                </div>

                <div class="nav-menu">
                    <a href="">todos os produtos</a>
                    <a href="">coleções</a>
                    <a href="">outlet</a>
                </div>
            </nav>
            <div class="index-banner">
            </div>
        </header>
        <main>
            <section>
                <article>
                    <div>
                        <h1>encontre seu estilo</h1>
                    </div> 
                </article>
                <div class="fotos-main">
                    <div class="foto-esquerda">
                        <img src="../public/img/foto-esquerda-superior.svg" alt="">
                    </div>
                    <div class="foto-direita">
                        <img src="../public/img/foto-direita-superior.svg" alt="">
                    </div>     
                </div>
            </section>
            <section>
                <div class="titulo-oferta">
                    <h2>30% off</h2>
                </div>
                <div class="ofertas-desconto">

                    <div class="scarpin-branca">
                        <img src="../public/img/scarpin-branco.svg" alt="">
                        <p>scarpin salto fino básico</p>
                        <p>R$ 140,00</p>
                    </div>
                    <div class="scarpin-rosa">
                        <img src="../public/img/scarpin-rosa.svg" alt="">
                        <p>scarpin salto fino básico</p>
                        <p>R$ 140,00</p>
                    </div>
                    <div class="scarpin-vermelha">
                        <img src="../public/img/scarpin-vermelho.svg" alt="">
                        <p>scarpin salto fino básico</p>
                        <p>R$ 140,00</p>
                    </div>
                    <div class="sandalia-verde">
                        <img src="../public/img/sandalia-verde.svg" alt="">
                        <p>scarpin salto fino básico</p>
                        <p>R$ 140,00</p>
                    </div>
                </div>
            </section>

            <section class="sandalia-destaque">

                <div class="sandalia-destaque-esquerda">
                    <div class="titulo-botao-destaque">
                        <p>sandália palmilha matelassê tiras rolotê</p>
                        <button type="button" class="btn-detalhes">ver detalhes</button>
                    </div>
                    <img src="../public/img/sandalia-preta-e.svg" alt="">
                </div>

                <div class="sandalia-destaque-esquerda">
                    <img src="../public/img/sandalia-preta-d.svg" alt="">
                <div>

            </section>
        </main>

        <footer>
            <div class="rodape">
                <div class="logo-rodape">
                    <img src="../public/img/shoes-logo-rodape.svg" alt="">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                    </p>
                </div>

                    
                        <ul class="lista-categoria" type="none">
                            <li class="titulo-lista-rodape">categorias</li>
                            <li><a href="">sandálias</a></li>
                            <li><a href="">botas</a></li>
                            <li><a href="">tênis</a></li>
                            <li><a href="">oxford</a></li>
                            <li><a href="">coturnos</a></li>
                        </ul>

                        <ul class="lista-institucional" type="none">
                            <li class="titulo-lista-rodape">institucional</li>
                            <li><a href="">sobre nós</a></li>
                            <li><a href="">perguntas frequentes</a></li>
                            <li><a href="">politica de privacidade</a></li>
                            <li><a href="">rastreamento de pedidos</a></li>
                            <li><a href="">trabalhe conosco</a></li>
                            <li><a href="">contato</a></li>
                        </ul>
            </div>
        </footer>
    </body>
</html>