* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo {
    margin: 0 auto;
}

.nav-menu {
    margin: 0 auto;
}

.nav-menu a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
    color: #777777;
}

.index-banner {
    background-image: url('../../public/img/banner.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 235px;
    animation-iteration-count: infinite;
    animation-name: piscando;
    animation-duration: 1s;
}

@keyframes piscando {
    0% {
        opacity: 40%;
    }

    25% {
        opacity: 100%;
    }

    100% {
        opacity: 40%;
    }
}


h1 {
    font-weight: bold
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 82px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 68px;
    color: #000000;
}

h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 80px;
    margin-top: 200px;
    margin-bottom: -40px;
    color: #FFFFFF;
    background-color: #C2185B; 
}

.fotos-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.foto-esquerda {
    margin-top: 161px;
    margin-right: 54px;
}

.foto-direita {
    margin-top: 82px;
}

.ofertas-desconto {
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #C2185B;
}


.scarpin-branca {
    width: 260px;
    height: 388px;
    margin-right: 18px;
    background-color: white;
}

.scarpin-rosa {
    width: 260px;
    height: 388px;
    margin-right: 18px;
    background-color: white;
}

.scarpin-vermelha {
    width: 260px;
    height: 388px;
    margin-right: 18px;
    background-color: white;
}

.sandalia-verde {
    width: 260px;
    height: 388px;
    background-color: white;
}

.ofertas-desconto p {
    font-family: 'Open Sans';
    font-style: normal;
    text-transform: uppercase;
    text-align: justify;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding-left: 10px;
    color: #000000;
}

.sandalia-destaque {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

.titulo-botao-destaque {
    flex-wrap: wrap;
    width: 513px;
    height: 100px;
    padding-bottom: 80px;
}

.sandalia-destaque p {
    font-family: 'Open Sans';
    font-style: normal;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}

.btn-detalhes {
    width: 335px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 50px;
    color: #FFFFFF;
    background-color: #C2185B;
}

.sandalia-destaque-esquerda {
    margin-right: 28px;
}

.sandalia-destaque-esquerda img {
    padding-top: 100px;
}


.rodape {
width: 100%;
height: 248px;
display: flex;
flex-wrap: wrap;
margin-top: 116px;
background: #C2185B;
}

.logo-rodape {
    padding-top: 19px;
    margin-left: 80px;
}

.logo-rodape img {
    width: 233px;
    height: 123px;
}

.logo-rodape p {
    display: flex;
    width: 255px;
    height: 91px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: justify;
    justify-content: flex-start;
    color: white;
}

.lista-categoria {
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 150px;
    margin-left: 50%;
}

.lista-institucional{
    margin-top: 50px;
    margin-bottom: 150px;
}

.titulo-lista-rodape {
    font-family: 'Open Sans';
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    color: #FFFFFF;
}

.rodape a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    text-decoration: none;
    color: #FFFFFF;
}